@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;700&display=swap');
/* universal start*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: 1em $body;

}
.button_read-more:hover{
  cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $heading;
  color: $heading-color;
}
a{
  color: $link-color;
  text-decoration: none;
  &:hover{
    color: $brand-color;
  }
}
img{
  max-width: 100%;
  height: auto;
}
/* universal end */

//info-block start
.info-block__tittle{
  margin-bottom: 20px;
  text-align: center;
h1{

  font-size: 2rem;
}
}
.info_block__subtittle{
@include uppercase;
  color: $brand-color;
  font-size: 0.7rem;
  font-family: $body;
  display: block;
}

.info-block__cta{
  @include uppercase();
  font-size: 0.7rem;
  a{
    border-bottom: 2px solid $brand-color;
  }
}
.info-block__body{
  p{
    font-size: 0.9rem;
    color: rgba(97, 97, 97, 0.65);
  }
}

//info-block end
//article-block start
.block_article-1 {
  display: flex;
  margin-bottom: 70px;

  .hero__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45%;

  }
  .info-block__tittle{
    margin-bottom: 20px;
    margin-top: 70px;
    text-align: left;
    h1{

      font-size: 2rem;
    }
  }
  .info-block__body{

    p{


      width: 70%;
      color: rgba(97, 97, 97, 0.65);
    }
  }
  .hero__img {
    text-align: right;
    margin-left: auto;

    img {
      width: 90%;
    }
  }
  .button_read-more{
    margin-top: 60px;
    @include uppercase;
    color: $brand-color;
    font-size: 0.4rem;
    font-family: $body;
    display: block;
    &::after{
      content: "";
      display: block;
      background-color: $brand-color;
      margin-top: 10px;
      width: 100px;
      height: 2px;

    }
  }
}
.block_article-2 {
  display: flex;
margin-bottom: 100px;
  .hero__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45%;

  }
  .info-block{
    padding-left: 50px;
  }
  .info-block__tittle{
    margin-bottom: 20px;
    margin-top: 70px;

    text-align: left;
    h1{

      font-size: 2rem;
    }
  }
  .info-block__body{

    p{
  color: rgba(97, 97, 97, 0.65);

      width: 70%;

    }
  }
  .hero__img {
    text-align: right;
    margin-left: auto;

    img {
      width: 90%;
    }
  }
  .button_read-more{
    margin-top: 60px;
    @include uppercase;
    color: $brand-color;
    font-size: 0.4rem;

    font-family: $body;
    display: block;
    &::after{
      content: "";
      display: block;
      background-color: $brand-color;
      margin-top: 10px;
      width: 100px;
      height: 2px;

    }
  }
}
.block_article-3 {
  display: flex;
  margin-bottom: 100px;


  .info-block{
    padding-top: 150px;
   margin-left: -100px;
  }

  .info-block__body{

    p{
      color: $heading-color;
      font-weight: 700;

      width: 70%;


    }
  }
  .hero__img {
    text-align: left;
    margin-left: auto;

    img {
      width: 80%;
    }
  }
  .button_read-more{
    margin-top: 60px;
    margin-left: -50px;
    h1{
      color: $brand-color;

    }
    @include uppercase;
    color: $brand-color;
    font-size: 0.4rem;

    font-family: $body;
    display: block;
    &::after{
      content: "";
      display: block;
      background-color: $brand-color;
      margin-top: 10px;
      width: 120px;
      height: 2px;

    }
  }
}
//article-block end

//footer start
.footer
{
  display: flex;
  flex-direction: column;
  align-items: center;
  .social{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
    img{
      width: 10%;
      height: auto;

    }
  }
}

//footer end

//site start
.site-header{
  padding: 80px 0;
}
.site-logo{
  text-align: center;
  margin-bottom: 10px;
}
.site-nav {
  @include uppercase();
  font-size: 0.7em;
text-align: center;
  li {
    display: inline-block;
    margin:0 20px;
  }

  a {
    display: block;
  }
}

//site end
//qoute start
.quote{
  margin: 0 auto 35px;
  text-align: center;
  &::after{
    content: "";
    display: block;
    background-color: $brand-color;
    width: 2px;
    height: 100px;
    margin: 35px auto 0;
  }
  .qoute__body{
    font-family: $heading;
    font-weight: 400;
    color: $heading-color;
  }
  .qoute__name{
@include uppercase();
    font-size: 0.5rem;
    font-style: normal;
  }

}
//qoute end

//email-block start
.email_block{
  &::before{
    content: "";
    display: block;
    background-color: $brand-color;
    width: 2px;
    height: 70px;

    margin: 35px auto 0;
    margin-bottom: 50px;
  }
display: flex;
  flex-direction: column;
align-items: center;
  .info-block__body{
    width: 30%;
  }
  .email_block_input{
    margin-top: 40px;
    margin-bottom: 70px;
    input{
      @include uppercase();
      border: 1px solid rgba(146, 146, 146, 0.2);
      background-color: rgba(146, 146, 146, 0.2);
      width: 400px;
      height: 50px;
      color:rgba(146, 146, 146, 0.51) ;
      font-size: 15px;
      padding-left: 10px;
  }
    button{
      padding-top: 2px;
      width: 50px;
      height: 50px;
      margin-left: -6px;
      background-color: #5da8ef;
      color: white;
      border: none;
      &:hover{
        cursor: pointer;
      }

    }}
}
//email-block end

//showcase-start
.showcase{
  margin-bottom: 50px;
  width: 50%;
  .showcase__body{
    margin-top: 70px;
  }
}
.showcase--bigger{
  margin-top: 30px;
  margin-left: -15%;
}
//showcase-end
@media screen and(min-width: 500px){
  .showcase__body{
    width: 70%;
    margin: 30px 0 0 20px ;
  }
}

@media screen and(min-width: 720px) {
//

  .info-block__tittle{
    text-align: left;
    }
  .info-block__tittle--bigger{
    h1,h2,h3,h4,h5,h6{
      font-size: 3rem;
    }
  }
  .info-block__tittle--bigger--fancy{
    &::after{
      content: "";
      width: 46px;
      height: 2px;
      background-color: $brand-color;
      display: inline-block;

    }
  }
  .site-nav,.site-logo{
    text-align: left;
  }
  .hero{
    position: relative;
    margin-bottom: 150px;
  }
  .hero__text{
    position: absolute;
    top: 50%;
transform: translateY(-50%) ;
    width: 45%;

  }
  .hero__img{
    text-align: right;
img{
  width: 85%;
}
  }
  .quote{
    width: 50%;

  }
}