@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;700&display=swap");
.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  margin-right: auto;
  margin-left: auto;
  text-align: center; }

.justify {
  text-align: justify; }

.hidden-sm {
  display: none; }

.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto; }
  @media only screen and (min-width: 33.75em) {
    .container {
      width: 80%; } }
  @media only screen and (min-width: 60em) {
    .container {
      max-width: 1200px; } }

.row {
  width: 100%; }

.row--centered {
  align-items: center; }

.row [class^="col"] {
  min-height: 0.125rem; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 98%; }

.col-1-sm {
  width: 6.3333333333%; }

.col-2-sm {
  width: 14.6666666667%; }

.col-3-sm {
  width: 23%; }

.col-4-sm {
  width: 31.3333333333%; }

.col-5-sm {
  width: 39.6666666667%; }

.col-6-sm {
  width: 48%; }

.col-7-sm {
  width: 56.3333333333%; }

.col-8-sm {
  width: 64.6666666667%; }

.col-9-sm {
  width: 73%; }

.col-10-sm {
  width: 81.3333333333%; }

.col-11-sm {
  width: 89.6666666667%; }

.col-12-sm {
  width: 98%; }

@media only screen and (min-width: 45em) {
  .row {
    display: flex;
    justify-content: space-between; }

  .col-1 {
    width: 6.3333333333%; }

  .col-2 {
    width: 14.6666666667%; }

  .col-3 {
    width: 23%; }

  .col-4 {
    width: 31.3333333333%; }

  .col-5 {
    width: 39.6666666667%; }

  .col-6 {
    width: 48%; }

  .col-7 {
    width: 56.3333333333%; }

  .col-8 {
    width: 64.6666666667%; }

  .col-9 {
    width: 73%; }

  .col-10 {
    width: 81.3333333333%; }

  .col-11 {
    width: 89.6666666667%; }

  .col-12 {
    width: 98%; }

  .hidden-sm {
    display: block; } }
/* universal start*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font: 1em "Poppins", sans-serif; }

.button_read-more:hover {
  cursor: pointer; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  color: #333; }

a {
  color: rgba(35, 36, 40, 0.9);
  text-decoration: none; }
  a:hover {
    color: #5da8ef; }

img {
  max-width: 100%;
  height: auto; }

/* universal end */
.info-block__tittle {
  margin-bottom: 20px;
  text-align: center; }
  .info-block__tittle h1 {
    font-size: 2rem; }

.info_block__subtittle {
  text-transform: uppercase;
  letter-spacing: .4em;
  font-weight: bold;
  color: #5da8ef;
  font-size: 0.7rem;
  font-family: "Poppins", sans-serif;
  display: block; }

.info-block__body p {
  font-size: 0.7rem;
  color: rgba(97, 97, 97, 0.65); }

.block_article-1 {
  display: flex;
  margin-bottom: 70px; }
  .block_article-1 .hero__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45%; }
  .block_article-1 .info-block__tittle {
    margin-bottom: 20px;
    margin-top: 70px;
    text-align: left; }
    .block_article-1 .info-block__tittle h1 {
      font-size: 2rem; }
  .block_article-1 .info-block__body p {
    font-size: 0.7rem;
    width: 70%;
    color: rgba(97, 97, 97, 0.65); }
  .block_article-1 .hero__img {
    text-align: right;
    margin-left: auto; }
    .block_article-1 .hero__img img {
      width: 90%; }
  .block_article-1 .button_read-more {
    margin-top: 60px;
    text-transform: uppercase;
    letter-spacing: .4em;
    font-weight: bold;
    color: #5da8ef;
    font-size: 0.4rem;
    font-family: "Poppins", sans-serif;
    display: block; }
    .block_article-1 .button_read-more::after {
      content: "";
      display: block;
      background-color: #5da8ef;
      margin-top: 10px;
      width: 100px;
      height: 2px; }

.block_article-2 {
  display: flex;
  margin-bottom: 100px; }
  .block_article-2 .hero__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45%; }
  .block_article-2 .info-block {
    padding-left: 50px; }
  .block_article-2 .info-block__tittle {
    margin-bottom: 20px;
    margin-top: 70px;
    text-align: left; }
    .block_article-2 .info-block__tittle h1 {
      font-size: 2rem; }
  .block_article-2 .info-block__body p {
    color: rgba(97, 97, 97, 0.65);
    font-size: 0.7rem;
    width: 70%; }
  .block_article-2 .hero__img {
    text-align: right;
    margin-left: auto; }
    .block_article-2 .hero__img img {
      width: 90%; }
  .block_article-2 .button_read-more {
    margin-top: 60px;
    text-transform: uppercase;
    letter-spacing: .4em;
    font-weight: bold;
    color: #5da8ef;
    font-size: 0.4rem;
    font-family: "Poppins", sans-serif;
    display: block; }
    .block_article-2 .button_read-more::after {
      content: "";
      display: block;
      background-color: #5da8ef;
      margin-top: 10px;
      width: 100px;
      height: 2px; }

.block_article-3 {
  display: flex;
  margin-bottom: 100px; }
  .block_article-3 .info-block {
    padding-top: 150px;
    margin-left: -100px; }
  .block_article-3 .info-block__body p {
    color: #333;
    font-weight: 700;
    font-size: 1rem;
    width: 70%; }
  .block_article-3 .hero__img {
    text-align: left;
    margin-left: auto; }
    .block_article-3 .hero__img img {
      width: 80%; }
  .block_article-3 .button_read-more {
    margin-top: 60px;
    margin-left: -50px;
    text-transform: uppercase;
    letter-spacing: .4em;
    font-weight: bold;
    color: #5da8ef;
    font-size: 0.4rem;
    font-family: "Poppins", sans-serif;
    display: block; }
    .block_article-3 .button_read-more h1 {
      color: #5da8ef; }
    .block_article-3 .button_read-more::after {
      content: "";
      display: block;
      background-color: #5da8ef;
      margin-top: 10px;
      width: 120px;
      height: 2px; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer .social {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px; }
    .footer .social img {
      width: 10%;
      height: auto; }

.site-header {
  padding: 80px 0; }

.site-logo {
  text-align: center;
  margin-bottom: 10px; }

.site-nav {
  text-transform: uppercase;
  letter-spacing: .4em;
  font-weight: bold;
  font-size: 0.7em;
  text-align: center; }
  .site-nav li {
    display: inline-block;
    margin: 0 20px; }
  .site-nav a {
    display: block; }

.quote {
  margin: 0 auto 35px;
  text-align: center; }
  .quote::after {
    content: "";
    display: block;
    background-color: #5da8ef;
    width: 2px;
    height: 100px;
    margin: 35px auto 0; }
  .quote .qoute__body {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    color: #333; }
  .quote .qoute__name {
    text-transform: uppercase;
    letter-spacing: .4em;
    font-weight: bold;
    font-size: 0.5rem;
    font-style: normal; }

.email_block {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .email_block::before {
    content: "";
    display: block;
    background-color: #5da8ef;
    width: 2px;
    height: 70px;
    margin: 35px auto 0;
    margin-bottom: 50px; }
  .email_block .info-block__body {
    width: 30%; }
  .email_block .email_block_input {
    margin-top: 40px;
    margin-bottom: 70px; }
    .email_block .email_block_input input {
      text-transform: uppercase;
      letter-spacing: .4em;
      font-weight: bold;
      border: 1px solid rgba(146, 146, 146, 0.2);
      background-color: rgba(146, 146, 146, 0.2);
      width: 400px;
      height: 50px;
      color: rgba(146, 146, 146, 0.51);
      font-size: 15px;
      padding-left: 10px; }
    .email_block .email_block_input button {
      padding-top: 2px;
      width: 50px;
      height: 50px;
      margin-left: -6px;
      background-color: #5da8ef;
      color: white;
      border: none; }
      .email_block .email_block_input button:hover {
        cursor: pointer; }

@media screen and (min-width: 720px) {
  .info-block__tittle {
    text-align: left; }

  .info-block__tittle--bigger h1, .info-block__tittle--bigger h2, .info-block__tittle--bigger h3, .info-block__tittle--bigger h4, .info-block__tittle--bigger h5, .info-block__tittle--bigger h6 {
    font-size: 1.8rem; }

  .info-block__tittle--bigger--fancy::after {
    content: "";
    width: 46px;
    height: 2px;
    background-color: #5da8ef;
    display: inline-block; }

  .site-nav, .site-logo {
    text-align: left; }

  .hero {
    position: relative;
    margin-bottom: 150px; }

  .hero__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45%; }

  .hero__img {
    text-align: right; }
    .hero__img img {
      width: 85%; }

  .quote {
    width: 50%; } }
